@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

$font-b612: "B612", sans-serif;
$font-dosis: "Dosis", sans-serif;
$light-grey: #f9f9f9;
$primary-color: #ceb8aa;
$secondary-color: #935c87;
$text-color: #323232;

body {
  background-color: $light-grey;
  color: $text-color;
  line-height: 140%;
}

button {
    outline: none !important;
    border: none !important;
}