@import url("https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  background-color: #f9f9f9;
  color: #323232;
  line-height: 140%;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

body nav .menu-toggler {
  background-color: #f9f9f9;
  height: 40px;
  width: 40px;
  padding: 5px;
}

body nav h4 {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  font-size: 24px;
}

body nav .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

body nav .socials .box {
  background-color: #ceb8aa;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 20%;
}

button {
  outline: none !important;
  border: none !important;
}

.container {
  position: absolute;
  background-color: #F5F5F5;
  height: 40vh;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .content {
  position: relative;
  margin-top: -17%;
  width: 65%;
}

.container .content h2 {
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding: 0 20%;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 10px;
}

.container .content .subheading {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.container .content .form-border {
  width: 100%;
  /* Full width */
  padding: 8px;
  /* Some padding */
  border: 1px solid #f0f0f0;
  /* Gray border */
  border-radius: 5px;
  /* Rounded borders */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #935c87;
  outline: none !important;
}

.container .content .form-border input {
  width: 82%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #f9f9f9;
  /* Gray border */
  border-radius: 5px;
  /* Rounded borders */
  margin-top: 10px;
  /* Add a top margin */
  margin-bottom: 10px;
  /* Bottom margin */
  margin-left: 4px;
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #f9f9f9;
  outline: none !important;
  font-family: "B612", sans-serif;
  color: #323232;
}

.container .content .form-border .url-form-button {
  background-color: #ceb8aa;
  color: #f9f9f9;
  padding: 12px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
}

.container .content .shortUrl-container .shortUrl-box {
  width: 100%;
  /* Full width */
  padding: 10px;
  /* Some padding */
  border: 1px solid whitesmoke;
  /* Gray border */
  border-radius: 5px;
  /* Rounded borders */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: whitesmoke;
  outline: none !important;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .content .shortUrl-container .shortUrl-box .shortUrl-box:not(:last-child) {
  margin-bottom: 20px;
}

.container .content .shortUrl-container .shortUrl-box .shortUrl--link {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 20px;
}

.container .content .shortUrl-container .shortUrl-box .shortUrl--refLink {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #935c87;
}

.container .content .shortUrl-container .shortUrl-box .button {
  background-color: #ceb8aa;
  color: #f9f9f9;
  padding: 8px 18px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-right: 20px;
}
/*# sourceMappingURL=styles.css.map */